.note {
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  width: 240px;
  height: 110px;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.2s;
}

.note:hover {
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.note__title {
  font-size: 1.1rem;
  font-weight: bolder;
  margin-top: 5px;
  margin-right: 15px;
  margin-left: 15px;
}

.note__content {
  font-size: 1.0rem;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

/* .note__content--small { */
/*   font-size: .875rem; */
/*   margin-top: 5px; */
/*   margin-left: 15px; */
/*   margin-right: 15px; */
/* } */

.note--blue {
  background-color: #CBF0F8;
  border: transparent;
}

.note--darkblue {
  background-color: #AECBFA;
  border: transparent;
}

.note--red {
  background-color: #F28B82;
  border: transparent;
}
.note--purple {
  background-color: #D7AEFB;
  border: transparent;
}

.note--turquoise {
  background-color: #A7FFEB;
  border: transparent;
}

.note--green {
  background-color: #CCFF90;
  border: transparent;
}

.note--yellow {
  background-color: #FFF475;
  border: transparent;
}

.note--orange {
  background-color: #FBBC04;
  border: transparent;
}
