.note {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid gray;
  width: 240px;
  height: 110px;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s;
}

.note__title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 15px;
  margin-left: 15px;
}

.note__content {
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.note--blue {
  background-color: Blue;
  color: White;
}

.note--cyan {
  background-color: Cyan;
  color: Black;
}

.note--green {
  background-color: Green;
  color: White;
}

.note--yellow {
  background-color: Yellow;
  color: Black;
}

.note--gold {
  background-color: Gold;
  color: Black;
}
