.notes__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.notes__header {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: #777;
  margin-left: 12px;
}
