.notes__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.notes__header {
  display: flex;
  justify-content: center;
  font-size: 0.800rem;
  font-weight: 700;
  color: #777;
  margin-left: 12px;
}
