.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.notFound__img {
  object-fit: contain;
  overflow-y: hidden;
}

.notFound__text {
  font-size: 1.5rem;
  margin-top: 20px;
  text-align: center;
}
