.noteToolbar {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
}

.noteToolbar--hidden {
  visibility: hidden;
  transition: 0.2s;
}

.noteToolbar__element {
  padding: 5px;
  font-size: 1.3rem;
}

.noteToolbar__element--filled {
  font-variation-settings:
  'FILL' 1
}

.noteToolbar__element:hover {
  cursor: pointer;
  background-color: #20210944;
  border-radius: 50%;
}
