.colorPicker {
  display: flex;
  position: fixed;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid #d0d0e0;
  border-radius: 8px;
  padding: 10px;
  margin-top: 110px;
  margin-right: 60px;
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.2);
}

.colorPicker--hidden {
  display: none;
}

.colorPicker__dot {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #999;
  box-sizing: border-box;
  display: inline-block;
}

.colorPicker__dot--selected:before {
  content: "check";
  margin-left: 1px;
  font-size: 1.4rem;
}

.colorPicker__dot--blue {
  background-color: #cbf0f8;
}

.colorPicker__dot--blue {
  background-color: #cbf0f8;
}

.colorPicker__dot--darkblue {
  background-color: #aecbfa;
}

.colorPicker__dot--red {
  background-color: #f28b82;
}
.colorPicker__dot--purple {
  background-color: #d7aefb;
}

.colorPicker__dot--turquoise {
  background-color: #a7ffeb;
}

.colorPicker__dot--green {
  background-color: #ccff90;
}

.colorPicker__dot--yellow {
  background-color: #fff475;
}

.colorPicker__dot--orange {
  background-color: #fbbc04;
}
