.header {
  display: flex;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #e7e7e7;
  background-color: #fbfbfb;
  position: relative;
  text-align: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.header__branding {
  height: 40px;  
  width: 40px;  
}

.header__text {
  font-size: 1.2rem;
  margin-left: 10px;
}

