.noteInput {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.noteInput__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
  flex-basis: 100%;
  border: 1px solid #e0e0e0;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.noteInput__title {
  width: 100%;
  height: 44px;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
}

.noteInput__content {
  width: 100%;
  height: 46px;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  padding-left: 15px;
  padding-right: 15px;
}

.noteInput__title:focus {
  outline: none;
}

.noteInput__content:focus {
  outline: none;
}

.noteInput__button {
  background-color: transparent;
  cursor: pointer;
  font-size: 0.875rem;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  border: none;
  height: 36px;
  outline: none;
  justify-self: right;
}

.noteInput__button:hover {
  border-radius: 10px;
  background-color: #eee;
  cursor: pointer;
}

.collapsed {
  display: none;
}
