.notes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 600px) {
  .notes {
    flex-direction: column;
  }
}
