.noteInputToolbar {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.noteInputToolbar__filler {
  flex-grow: 1;
  flex-shrink: 1;
}

.noteInputToolbar__button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.noteInputToolbar__element {
  color: #555;
  padding: 5px;
  font-size: 1.3rem;
  border-radius: 50%;
  transition: 0.1s;
}

.noteInputToolbar__element:hover {
  border-radius: 50%;
  background-color: #20210944;
  cursor: pointer;
}

.noteInputToolbar__element--filled {
  font-variation-settings: "FILL" 1;
}
