.noteInputToolbar {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.noteInputToolbar__filler {
  flex-grow: 1;
  flex-shrink: 1;
}

.noteInputToolbar__button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
