.footer {
  width: 100%;
  height: 60px;
  border-top: 1px solid #E7E7E7;
  background-color: #FBFBFB;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
}

.footer__text {
  padding-top: 20px;
}
