@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  min-height:100vh;
  margin:0; 
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}