@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

.pagecontainer {
  position: relative;
  min-height: 100vh;
}

.contentwrap {
  padding-bottom: 2.5rem
}
