.note {
  display: flex;
  flex-direction: column;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  width: 240px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 110px;
  border-radius: 8px;
  transition: 0.2s;
  margin: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.note:hover {
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.note__title {
  font-size: 1.1rem;
  font-weight: 600;
  word-wrap: break-word;
}

.note__content {
  font-size: 1.0rem;
  padding-bottom: 15px;
  margin-bottom: auto;
  word-wrap: break-word;
}

.note__content--small {
  font-size: .875rem;
  margin-bottom: auto;
  word-wrap: break-word;
}

.note--blue {
  background-color: #CBF0F8;
  border: transparent;
}

.note--darkblue {
  background-color: #AECBFA;
  border: transparent;
}

.note--red {
  background-color: #F28B82;
  border: transparent;
}
.note--purple {
  background-color: #D7AEFB;
  border: transparent;
}

.note--turquoise {
  background-color: #A7FFEB;
  border: transparent;
}

.note--green {
  background-color: #CCFF90;
  border: transparent;
}

.note--yellow {
  background-color: #FFF475;
  border: transparent;
}

.note--orange {
  background-color: #FBBC04;
  border: transparent;
}
