.note {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  width: 240px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 110px;
  border-radius: 8px;
}

.note:hover {
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.note__title {
  font-size: 1.1rem;
  font-weight: 600;
  word-wrap: break-word;
}

.note__content {
  font-size: 1rem;
  padding-bottom: 15px;
  margin-bottom: auto;
  word-wrap: break-word;
}

.note__content--small {
  font-size: 0.875rem;
  margin-bottom: auto;
  word-wrap: break-word;
}

.note--blue {
  background-color: #cbf0f8 !important;
  border: transparent !important;
}

.note--darkblue {
  background-color: #aecbfa !important;
  border: transparent !important;
}

.note--red {
  background-color: #f28b82 !important;
  border: transparent !important;
}
.note--purple {
  background-color: #d7aefb !important;
  border: transparent !important;
}

.note--turquoise {
  background-color: #a7ffeb !important;
  border: transparent !important;
}

.note--green {
  background-color: #ccff90 !important;
  border: transparent !important;
}

.note--yellow {
  background-color: #fff475 !important;
  border: transparent !important;
}

.note--orange {
  background-color: #fbbc04 !important;
  border: transparent !important;
}

.note--invisible {
  visibility: hidden;
}

@media only screen and (max-width: 615px) {
  .note {
    width: 100%;
  }
}
