.header {
  display: flex;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #e7e7e7;
  background-color: #fbfbfb;
  position: relative;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  transition: 0.2s;
}

.header__branding {
  height: 30px;
  width: 30px;
}

.header__text {
  font-size: 1.2rem;
  flex-shrink: 0;
  color: black;
  min-width: 105px;
}

.header__item {
  font-size: 1.4rem;
  color: #555;
  padding: 5px;
}

.header__item--fill {
  font-size: 1.2rem;
  margin-left: 30px;
  flex: 1;
}

.header__item--leftmost {
  margin-left: 10px;
}

.header__item:hover {
  border-radius: 50%;
  background-color: #20210944;
  cursor: pointer;
}

.header__item--rightmost {
  margin-right: 10px;
  padding: 5px;
}

.header__usericon {
  border: 1px solid #ececec;
  border-radius: 50%;
  width: 30px;
}

@media only screen and (max-width: 615px) {
  .header__item--fill {
    margin-left: 0px;
  }
}
