.noteSearchInput {
  display: flex;
}

.noteSearchInput__icon {
  padding: 2px;
  margin-right: 4px;
}

.noteSearchInput__icon:hover {
  cursor: pointer;
  background-color: #20210944;
  border-radius: 50%;
}


.noteSearchInput__box {
  display: flex;
  color: black;
  max-width: 650px;
  font-size: 0.95rem;
  color: #888;
  background-color: #eee;
  align-items: center;
  justify-content: left;
  gap: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  border-radius: 8px;
  cursor: text;
  text-align: left;
  flex-grow: 1;
  transition: 0.2s;
}

.noteSearchInput__box--focused {
  background-color: #fff;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.2);
}

.noteSearchInput__search {
  width: 100%;
  height: 36px;
  border: none;
  background-color: transparent;
  color: inherit;
}

.noteSearchInput__search:focus {
  outline: none;
}

.noteSearchInput__button {
}
